.project-header{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
/* .view-all{
background:#f3d92c;
border:        1px solid #999999;
border-radius: 10px;
box-shadow:    1px 1px #999999;
padding:       10px 20px;
color:         #444444;
display:       inline-block;
font:          normal bold 26px/1 "Open Sans", sans-serif;
text-align:    center;
} */
/* .project{
    background: #f0f2f3;
} */