.topnav{
    /* background-color: #C0C2BB; */
    background: linear-gradient(-45deg, #773825, #5c1631, #1a576d, #0c5c49);
    background-size: 400% 500%;
    animation: gradient 15s ease infinite;
   
}